.home{
    background-color: rgb(128, 123, 123);
}
.intro{
    text-decoration-style: solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    margin-top: 10px;
    padding: auto;
}
.buttons{
    display: flex;
    font-display: 200px;
}
